@media screen and (max-width: 1530px) and (min-width: 1280px) {
  .content {
    .left-container {
      .display-1 {
        font-size: 180px;
        .letter {
          &:first-child::before {
            left: -5px;
          }
        }
      }
    }
    .right-container {
      .layer-1 {
        width: 400px;
      }
      .layer-2 {
        width: 450px;
      }
      .layer-3 {
        width: 550px;
      }
      .layer-4 {
        width: 650px;
      }
    }
  }
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .content {
    .left-container {
      .display-1 {
        font-size: 120px;
        .letter {
          &:first-child::before {
            background-size: 60px;
            left: -17px;
            top: -45px;
          }
        }
      }
    }
    .right-container {
      .layer-1 {
        width: 300px;
      }
      .layer-2 {
        width: 350px;
      }
      .layer-3 {
        width: 400px;
      }
      .layer-4 {
        width: 500px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .content {
    .left-container {
      .display-1 {
        font-size: 100px;
        .letter {
          &::before {
            background-size: 50px;
            top: -47px;
            left: -24px;
          }
        }
      }
      p {
        width: 100%;
      }
    }
    .right-container {
      .layer-1 {
        width: 250px;
      }
      .layer-2 {
        width: 300px;
      }
      .layer-3 {
        width: 350px;
      }
      .layer-4 {
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .d-block-sm {
    display: block;
  }
  .first-page {
    .content {
      .left-container {
        width: 100%;
        .display-1 {
          font-size: 140px;
          .letter {
            &:first-child::before {
              background-size: 50px;
              left: -15px;
              top: -45px;
            }
          }
        }
        p {
          width: 100%;
        }
      }
      .right-container {
        display: none;
      }
    }
  }
  .second-page {
    .content {
      .left-container {
        display: none;
      }
      .right-container {
        width: 100%;
        .container {
          width: 100%;
          padding: 1rem 1.8rem;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  * {
    cursor: pointer;
  }
  .mouse {
    opacity: 0;
    visibility: hidden;
  }
  .display-1-simple {
    font-size: 18px;
  }
  .first-page {
    .content {
      .left-container {
        padding: 0 1.8rem;
        .display-1 {
          .letter {
            &:first-child::before {
              left: -27px;
            }
          }
          letter-spacing: 10px;
          font-size: 90px;
        }
        .cta {
          .btn {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .second-page {
    .content {
      .left-container {
        display: none;
      }
      .right-container {
        .container {
          width: 100%;
          padding: 0.2rem 1.8rem;
          text-align: center;
        }
      }
    }
  }
  .seventh-page {
    .display-2-simple {
      font-size: 30px;
    }
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      * {
        padding: 0 0.6rem;
      }
      .display-2-simple {
        font-size: 18px;
      }

      .link-list {
        .link-item {
          .link {
            img {
              height: 30px;
            }
          }
        }
      }
    }
  }
  .third-page,
  .fourth-page,
  .fifth-page,
  .sixth-page {
    .content {
      .left-container {
        width: 100%;
        text-align: center;
        padding: 0 0.6rem;
      }
      .right-container {
        display: none;
      }
    }
  }
  .main-navbar {
    .container.nav {
      &-sm {
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: flex-end;
        .nav-menu {
          width: 50%;
          right: -50%;
          &.enter {
            right: 0;
          }
          &.leave {
            right: -50%;
          }
        }
      }
    }
  }
  #pp-nav {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 500px) {
  .main-navbar .container.nav-sm {
    .nav-menu {
      width: 100%;
      right: -100%;
      &.enter {
        right: 0;
      }
      &.leave {
        right: -100%;
      }
    }
  }
}
@media screen and (max-width: 340px) {
  .first-page {
    .content {
      .left-container {
        padding: 0 0.8rem;
        .display-1 {
          .letter {
            &:first-child::before {
              left: -27px;
            }
          }
          letter-spacing: 10px;
          font-size: 90px;
        }
        .cta {
          .btn {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .second-page .right-container .container .category {
    margin: 15px 0;
  }
  .main-navbar .container.nav-sm {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  .content .left-container {
    max-width: 320px;
    height: 100%;
  }
}
