@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.first-page {
  background-color: #222020;
  color: white;
}

.second-page {
  background-color: #c55454;
  color: white;
}
